body, html, #root {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100vw;
  background: #222E3C;
}

.wingui-pagination {
  justify-content: center;
  position: relative;
  margin: auto;
  display: flex;
  top: 2px;
}

.popup-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a {
  text-decoration: none
}

.modal {
  z-index: 1400;
}

.v-line {
  border-right : thin solid #888888;
  height : 12px;
  position: absolute;
  right: 0;
  top: 10px;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.toast.fade.hide {
  z-index: -1;
}

.badge-in-accordion {
  padding-left: 12px;
  padding-right: 12px;
}

.fa-in-accordion {
  margin-right: 15px;
}

.list-group-item-accordion {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.card-header {
  background-color: #FFFFFF
}

::-webkit-scrollbar {
  width: 12px;
  /* 세로축 스크롤바 길이 */
  height: 12px;
  /* 가로축 스크롤바 길이 */
}

::-webkit-scrollbar-track-piece {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e3e5e8;
  border: 1px solid #696969;
}

::-webkit-scrollbar-button {
  background-color: #f8f9fa;
  width: 0px;
  height: 0px;
}

/* Top, Left 방향의 이동버튼  */
::-webkit-scrollbar-button:start {
  background-color: #f8f9fa;
  /* border: 1px solid #696969; */
}

/* Bottom, Right 방향의 이동버튼 */
::-webkit-scrollbar-button:end {
  background-color: #f8f9fa;
  /* border: 1px solid #696969; */
}

::-webkit-scrollbar-button:vertical:increment {
  /* background: url(arrow_down.png) no-repeat center 50%; */
}

::-webkit-scrollbar-button:vertical:decrement {
  /* background: url(arrow_up.png) no-repeat center 50%; */
}

::-webkit-scrollbar-button:horizontal:increment {
  /* background: url(arrow_down.png) no-repeat center 50%; */
}

::-webkit-scrollbar-button:horizontal:decrement {
  /* background: url(arrow_up.png) no-repeat center 50%; */
}

::-webkit-scrollbar-corner {
  background-color: #e9e9e9;
  /* 우측 하단의 코너 부분 */
}

::-webkit-resizer {
  background-color: #e9e9e9;
}

/* Firefox scrollbar 
.scroll-test {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
*/

@import './style/ReactDatePicker.css';
@import '@wingui/component/grid/realgrid-basic.css';
@import './style/ToastuiEditorDark.css';