/.idea/
/.java/
/.oracle_jre_usage/
/.run/
/.settings/
/.swt/
/.vscode/
/classes/
/docs/**/mdbook-*.css
/docs/**/mdbook-*. js
/docs/**/mermaid*.js
/edu/**/mdbook-*.css
/edu/**/mdbook-*. js
/edu/**/mermaid*.js
src/main/webapp/js/bundle/
.classpath
.history
.java
.jython_cache
activemq-data
book
book.toml
cachedir
dist
license.bin
license.txt
license.xml
logs
node_modules
target
t3series.auth
yarn.lock
*.class
*.iml
vendor.js
realgrid.js
main.js
commons.bundle.js
/src/main/webapp/edu/
