.issue-close-status {
  color: gainsboro;
}

.issue-open-status {
  font-weight: 800;
  color: #fc5f67;
}

.issue-mgmt .rg-root .rg-table tbody tr {
  height: 35px;
}

.issue-mgmt .rg-data-row {
  height: 35px;
}

#contentInner-UI_UT_ISSUE_MGMT .wingui-pagination {
  margin: 10px 0;
}